.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1652&q=80');

  width: auto;
  height: auto;
  padding: 100px 0;
  background-size: cover;
  background-position: center;
}

.hero-banner-content {
 max-width: 450px;
}

.hero-banner h1, .hero-banner p, .hero-banner a {
  color: white;
}

.hero-banner h1 {
  font-size: 36px;
  line-height: 1.4em;
  margin-bottom: 24px;
}

.hero-banner p {
  line-height: 1.8em;
  margin-bottom: 36px;
  font-size: 20px;
}

.hero-banner a {
  display: inline-block;
  background-color: #2ADD87;
  padding: 1em 2em;
  border-radius: 50px;
  margin-bottom: 1em;
}
